body{
    background-color: #940BB41C;
}

p{
    color: #940BB4;
    font-family: 'Garamond', sans-serif;
    font-weight: 400;
}

p, h1, h3, ul{
    color: #940BB4;
    font-family: 'Garamond', sans-serif;
    text-align: justify;
    font-size:18px;
}

ol{
    color: #940BB4;
    font-family: 'Garamond', sans-serif;
    text-align: justify;
    font-size:22px;
}

h1{
    font-size: 35px;
    color: #940BB4;
    font-family: 'Garamond', sans-serif;
}

.texts{
    flex: 1;
    background-color: #F7EAF4;
    margin: 100px;
    float: right;
    padding: 30px;
}

.presentation{
    display: flex;
    background-color: #F7EAF4;
    margin: 50px;
    padding: 20px;
}

a{
    text-decoration: none;
    color: #B02C37;
}

a:hover{
    color: #2E1AAA;
}

.image img{
    border: solid 5px #940BB41C;
    width: 400px;
    height: 550px;
}

.games{
    background-color: #F7EAF4;
    margin: 36px;
}

.games img{
    border: solid 5px #940BB41C;
    width: 250px;
    height: 300px;
    margin: 50px;
}

.image-container {
    display: flex;
}
  
.image-container img {
    width: 200px;
    height: auto;
    margin-right: 10px; 
    transition: transform 0.3s ease;
}
  
.image-container img:last-child {
    margin-right: 50px;
}

.image-container img:hover{
    transform: scale(1.2);
}

.tv{
    display: flex;
    background-color: #F7EAF4;
    margin: 36px;
}

.tv p{
    padding-right: 200px;
}

.serie img{
    border: solid 5px #940BB41C;
    width: 600px;
    height: 350px;
}

.filmes img{
    border: solid 5px #940BB41C;
    width: 450px;
    height: 600px;
}